phpunit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="phpunit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="testsuites" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="bootstrap" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>